<% if user_signed_in?%>
<%= link_to "グループを探す", groups_path, class:"link-button" %>
<p class="group-box"><%= link_to "Free Seeker", "#", class:"group-name" %></p>
<% end %>
<% unless @groups == nil%>
  <% @groups.each do |group| %>
    <p class="group-box"><%= link_to group.name, group_messages_path(group_id: group.id), class:"group-name" %></p>
  <% end %>
<% end %>