<p class="group-box"><%= link_to "Free Seeker", "#", class:"group-name" %></p>
<% unless @groups == nil%>
  <% @groups.each do |group| %>
    <p class="group-box"><%= link_to group.name, "#", class:"group-name" %></p>
  <% end %>
<% end %>