<div class="wrapper">
  <%= link_to "投稿更新情報", root_path, class:"link-button" %>
  <%= link_to "Q&A更新情報", qa_posts_path, class:"link-button" %>
  <%= link_to "My投稿一覧", my_posts_path, class:"link-button" %>
  <%= link_to "コメント一覧", comments_path, class:"link-button" %>
</div>