<div class="bottom-space-center">
<%= link_to "投稿トップへ", post_path(@post.id), class:"link-button" %>
<% @answers.each do |answer| %>
  <%= link_to answer.question, post_answer_path(post_id: answer.post_id, id: answer.id), class:"answer-question" %>
<% end %>
</div>