<div class="bottom-space-center">
  <p class="scadule-list">企画: <%= @scadule.content %></p>
  <p class="scadule-list">日程: <%= @scadule.date %></p>
  <p class="scadule-list">開催グループ: <%= @scadule.group.name %></p>
  内容<p class="scadule-text"><%= @scadule.text %></p>
</div>