<div class="page-side-bar">
  目次
  <div class="page-side-box">
    <% @pages.each do |page| %>
      <p><%= link_to " #{page.page} :#{page.content }", post_page_path(post_id: @post.id, id: page.id) %></p>
    <% end %>
  </div>
  <div class="wrapper">
    <%= link_to "コメント", new_post_comment_path(post_id: @post.id), class:"link-button" %>
    <%= link_to "Q&A", post_answers_path(post_id: @post.id), class:"link-button" %>
  </div>
</div>