<div class="qa-box">
コメント回答情報
<% @comments.each do |comment| %>
  <div class="answer-index">
    <%= link_to comment.post.title, post_answers_path(post_id: comment.post.id), class:"qa-title" %>
    <%= comment.post.contributor.name %>
    <p><%= l comment.updated_at %></p>
    <%= link_to "確認済", comment_path(comment.id), method: :patch, class:"link-button" %>
  </div>
<% end %>
</div>