<%= form_with model: @post, class:"post-form", local: true do |f| %>
  <p>新規投稿</p>
  タイトル
  <p><%= f.text_field :title, class:"post-title" %></p>
  <%= f.submit "決定", class:"button-center" %>
<% end %>
