<div class="wrapper">
  <div class="side-bar">
    <%= render "tops/index_side" %>
  </div>
  <div class="main-space">
    <%= render "tops/top_menu" %>
    <div class="wrapper">
      <%= render "qa" %>
      <%= render "answer" %>
    </div>
  </div>
</div>