.answer-form{
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.answer-field{
  font-size: 20px;
  height: 30px;
  width: 80%;
  margin-bottom: 10px;
}

.answer-area{
  font-size: 20px;
  height: 200px;
  width: 80%;
  margin-bottom: 10px;
}

/* index */
.answer-question{
  width: 80%;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  border: 1px solid gray;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}