/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   box-sizing: border-box;
 }
/* ヘッダー */
.header{
  height: 100px;
  background-color: rgb(70, 180, 250);
  position: fixed;
  display: flex;
}

.app-name{
  height: 100px;
  width: 200px;
  background-color: rgb(70, 160, 250);
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.header-right{
  height: 100px;
  width: calc(100vw - 200px);
}

.header-content{
  height: 60px;
  display: flex;
  align-items: center;
}

.user-name{
  font-size: 32px;
  color: white;
  width: calc(100vw - 500px);
  padding-left: 20px;
}

.login{
  font-size: 20px;
  width: 150px;
  text-align: center;
  padding: 15px 0;
}

.link-box{
  width: 140px;
  border-radius: 100px/ 50px;
  background-color: rgb(70, 160, 250);
  display: block;
  color: white;
  text-decoration: none;
}

.header-menu{
  height: 40px;
  display: flex;
  border: 1px solid black;
}

.hidden-header{
  height: 100px;
  width: 100vw;
  background-color: rgb(70, 180, 250);
}