.wrapper{
  display: flex;
}

.side-bar{
  height: calc(100vh - 100px);
  width: 200px;
  padding: 5px;
  border-right: 1px solid gray;
}

.main-space{
  height: calc(100vh - 100px);
  width: calc(100vw - 200px);
}

.button-center{
  font-size: 18px;
  width: 50px;
  display: block;
  margin: 0 auto;
}

.button{
  font-size: 18px;
  width: 50px;
  display: block;
}