.side-bar{
  height: calc(100vh - 100px);
  width: 200px;
  padding: 5px;
  border-right: 1px solid gray;
}

.button{
  width: fit-content;
  display: block;
  padding: 3px 10px;
  border: 1px solid gray;
  margin: 0 auto;
}
