/* display: flex; */
.wrapper{
  display: flex;
}

/* フレーム */
.side-bar{
  height: calc(100vh - 100px);
  width: 200px;
  padding: 5px;
  border-right: 1px solid gray;
}

.main-space{
  height: calc(100vh - 100px);
  width: calc(100vw - 200px);
  padding: 10px;
}

.main-space-full{
  height: calc(100vh - 100px);
  width: calc(100vw - 200px);
}

.main-sub-frame{
  font-size: 18px;
  width: calc(100vw - 400px);
  padding: 10px;
}

.left-bar{
  font-size: 20px;
  height: calc(100vh - 120px);
  width: 180px;
  padding: 5px;
  border: 1px solid gray;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* ボタン */
.button-center{
  font-size: 18px;
  width: 50px;
  display: block;
  margin: 0 auto;
}

.button{
  font-size: 18px;
  width: 50px;
  display: block;
}

.link-button{
  font-size: 18px;
  color: black;
  width: fit-content;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  margin-top: 5px;
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: 10px;
}