/* top page */
.group-box{
  border: 1px solid gray;
  margin-bottom: 5px;
  padding: 5px 10px;
}

.group-name{
  font-size: 20px;
  color: black;
  text-decoration: none;
  display: block;
}

/* group index */

.group-box1{
  border: 1px solid gray;
  padding: 5px;
  margin-bottom: 10px;
}

.group-name1{
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.group-content{
  font-size: 20px;
  height: 45px;
  border: 1px solid lightgray;
  overflow: hidden;
  word-break: break-all;
}

/* group new */
.group-form{
  padding: 20px;
  text-align: center;
}

.group-field{
  width: 80vw;
  font-size: 20px;
  word-break: break-all;
  margin-bottom: 10px;
}

.group-area{
  height: 50vh;
  width: 80vw;
  font-size: 20px;
  word-break: break-all;
  margin-bottom: 10px;
}

/* group show */
.group-name2{
  font-size: 20px;
  text-align: center;
  padding: 5px 0;
  border: 1px solid gray;
  margin-bottom: 10px;
}

.group-content1{
  font-size: 20px;
  height: calc(100vh - 250px);
  padding: 5px;
  border: 1px solid gray;
  overflow-y: scroll;
  word-break: break-all;
  white-space: pre-wrap;
}

.group-left-top{
  padding: 5px 0;
  text-align: center;
  border-bottom: 1px solid gray;
}

.group-left-name{
  padding: 5px;
}
