/* サイドバー */
.page-side-bar{
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.page-side-box{
  height: calc(100vh - 250px);
  width: 180px;
  border: 1px solid gray;
  margin: 5px 0;
  word-break: break-all;
  overflow-y: scroll;
  text-align: left;
}

.page-side-box p{
  margin-bottom: 5px;
}
.page-side-box a{
  text-decoration: none;
}

/* メインスペース */
.page-form{
  font-size: 20px;
}

.page-form p{
  margin-top: 10px;
}
.page-title{
  font-size: 20px;
  height: 30px;
  width: calc(100vw - 250px);
}

.page-text{
  font-size: 20px;
  height: calc(100vh - 300px);
  width: calc(100vw - 250px);
  margin-bottom: 5px;
  word-break: break-all;
  overflow-y: scroll;
}