/* サイドバー */
.page-side-bar{
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.page-side-box{
  height: calc(100vh - 250px);
  width: 180px;
  border: 1px solid gray;
  margin: 5px 0;
  word-break: break-all;
  overflow-y: scroll;
  text-align: left;
}

.page-side-box p{
  margin-bottom: 5px;
}
.page-side-box a{
  text-decoration: none;
}

/* メインスペース */
.page-form{
  font-size: 20px;
}

.page-form p{
  margin-top: 10px;
}
.page-title{
  font-size: 20px;
  height: 30px;
  width: calc(100vw - 250px);
}

.page-text{
  font-size: 20px;
  height: calc(100vh - 300px);
  width: calc(100vw - 250px);
  margin-bottom: 5px;
  word-break: break-all;
  overflow-y: scroll;
}

/* showメインスペース */
.page-post{
  font-size: 28px;
  width: calc(100vw - 300px);
  text-align: center;
  border: 1px solid gray;
  margin: 0 auto;
}

.page-post p{
  font-size: 20px;
}

.page-content{
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.page-show{
  font-size: 20px;
  height: calc(100vh - 300px);
  width: calc(100vw - 300px);
  padding: 5px;
  border: 1px solid gray;
  margin: 0 auto;
  word-break: break-all;
  white-space: pre-wrap;
  overflow-y: scroll;
}

.page-move{
  font-size: 18px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}