.scadule-select{
  font-size: 20px;
  height: 30px;
  width: 130px;
  margin: 0 10px 10px 0;
}

/* カレンダー */
.calendar-heading{
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.calendar-content{
  text-align: center;
  color: blue;
}

.calendar-content a{
  text-decoration: none;
}
/* new */
.scadule-form-content{
  font-size: 20px;
  width: 80%;
  margin-bottom: 20px;
}

.scadule-form-set{
  display: flex;
  justify-content: center;
}

.scadule-form-date{
  font-size: 18px;
  height: 40px;
  margin: 0 40px 20px 10px;
}

.scadule-form-select{
  font-size: 20px;
  height: 40px;
  width: 200px;
  margin: 0 10px 10px 10px;
}

.scadule-form-text{
  font-size: 20px;
  height: calc(100vh - 350px);
  width: 80%;
  margin-bottom: 10px;
}

/* show */
.scadule-list{
  font-size: 20px;
  margin-bottom: 10px;
}

.scadule-text{
  height: calc(100vh - 300px);
  width: 80%;
  border: 1px solid gray;
  margin: 0 auto;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-break: break-all;
  text-align: left;
}